@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700");
body {
  background-color: #D9D9D9; }

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Patua On";
  margin-bottom: 10px; }
  h1 i {
    font-size: 60px !important; }

#para {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans";
  padding-top: 0px; }

#txt {
  border-bottom: 6px solid #D9D9D9;
  padding: 10px;
  margin-bottom: 0px; }

#song-box {
  background-color: #f0f0f0;
  margin: 60px 30vw;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #d9d9d9; }
  #song-box .song:last-of-type {
    margin-bottom: 5px;
    padding-bottom: 0px;
    border: none; }
  #song-box .song {
    border-bottom: 3px dotted lightgray;
    padding: 10px 0px; }
    #song-box .song p {
      color: #4d4d4d;
      margin-bottom: 0px;
      font-weight: bold;
      font-family: "Open Sans";
      font-style: italic; }

.cont {
  padding: 10px; }

.songs-table {
  width: 100%;
  padding: 0px;
  margin: 0px; }
  .songs-table .btn-play {
    cursor: pointer;
    color: #62C955;
    padding-right: 5px; }
    .songs-table .btn-play:hover {
      color: #3f9f33; }
  .songs-table .btn-stop {
    cursor: pointer;
    color: #C95555;
    padding-right: 5px; }
    .songs-table .btn-stop:hover {
      color: #9f3333; }
  .songs-table .btn-download {
    cursor: pointer;
    color: #4D8BDB; }
    .songs-table .btn-download:hover {
      color: #2565b7; }
  .songs-table .inactive {
    cursor: not-allowed;
    color: lightgray; }
    .songs-table .inactive:hover {
      color: lightgray; }

.preview {
  width: 100px !important;
  height: auto;
  display: inline-block;
  float: left;
  border: 2px solid gray;
  border-radius: 5px; }

@media screen and (max-width: 550px) {
  #song-box {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw; }
    #song-box .song p {
      font-size: 0.8em; }
    #song-box .song .btn-play, #song-box .song .btn-stop, #song-box .song .btn-download {
      visibility: hidden;
      display: none; } }
