@import url("https://fonts.googleapis.com/css?family=Patua+On|Open+Sans|Roboto");
body {
  padding: 0;
  margin: 0;
  background-image: url("../img/pattern.png");
  background-repeat: repeat; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto"; }

p, a, span, li {
  font-family: "Open Sans"; }

a {
  color: dodgerblue;
  text-decoration: none; }

.home-head {
  width: 100%;
  height: 100vh;
  display: table; }
  .home-head h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Patua On";
    letter-spacing: 5px;
    font-size: 6em;
    text-shadow: 0px 4px 5px #171717;
    text-align: center !important; }

.langs {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white; }

.items {
  letter-spacing: 2px;
  font-size: 0.2em;
  display: block; }
  .items .item {
    text-decoration: none;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s; }
    .items .item:hover {
      color: white;
      text-shadow: none; }

.corner-bottom {
  position: absolute;
  bottom: -400px;
  left: -400px; }

.corner-top {
  position: absolute;
  top: -400px;
  right: -400px;
  transform: rotatez(180deg);
  -webkit-transform: rotatez(180deg);
  -moz-transform: rotatez(180deg);
  -o-transform: rotatez(180deg); }

.cover {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 60vh; }

.skills-title {
  color: dodgerblue;
  font-weight: bold;
  padding: 10px 0px;
  margin-top: 0px; }

.skills-text {
  color: white;
  font-size: 1.2em; }
  .skills-text b {
    color: dodgerblue;
    font-weight: normal; }
  .skills-text a {
    text-decoration: underline;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s; }
    .skills-text a:hover {
      color: white; }

.websites {
  display: block;
  width: 100%; }
  .websites .skills-item {
    display: inline-block;
    margin: 0px 10px; }
    .websites .skills-item img {
      width: 200px;
      height: auto;
      border: 2px solid dodgerblue;
      border-radius: 5px;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      box-shadow: 0px 0px 15px 0px #171717;
      cursor: pointer; }
      .websites .skills-item img:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        box-shadow: 0px 5px 15px 5px #171717; }
    .websites .skills-item .item-title {
      display: block;
      text-align: center;
      margin: 0;
      color: white; }

.games, .apps {
  display: block;
  width: 100%; }
  .games .skills-item, .apps .skills-item {
    display: inline-block;
    margin: 0px 10px; }
    .games .skills-item img, .apps .skills-item img {
      width: 150px;
      height: auto;
      border: 2px solid dodgerblue;
      border-radius: 5px;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      box-shadow: 0px 0px 15px 0px #171717;
      cursor: pointer; }
      .games .skills-item img:hover, .apps .skills-item img:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        box-shadow: 0px 5px 15px 5px #171717; }
    .games .skills-item .item-title, .apps .skills-item .item-title {
      display: block;
      text-align: center;
      margin: 50;
      color: white; }

.navbar {
  width: 100%;
  background-color: #1f1f1f;
  border-bottom: 2px solid dodgerblue;
  box-shadow: 0px 0px 15px 0px #171717; }
  .navbar ul {
    list-style-type: none;
    padding: 0px 50px;
    margin: 0;
    overflow: hidden; }
    .navbar ul a {
      display: block;
      position: relative;
      text-decoration: none; }
      .navbar ul a li {
        float: left;
        position: relative;
        text-decoration: none;
        margin: 0;
        padding: 16px 10px;
        font-size: 1.2em;
        color: dodgerblue;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s; }
        .navbar ul a li:hover {
          color: white; }
    .navbar ul .right {
      float: right;
      cursor: pointer; }
      .navbar ul .right li {
        float: right; }

.active {
  background-color: rgba(0, 0, 0, 0.3); }

.btt {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: auto;
  width: 180px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s; }
  .btt:hover {
    color: white; }

.footer {
  background-color: #1c1c1c;
  padding: 15px 0px;
  margin-top: 25px;
  border-top: 2px solid dodgerblue; }
  .footer p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: dodgerblue; }

.post {
  border: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  border-radius: 4px;
  margin: 20px 0px;
  padding: 25px;
  font-size: 1.2em;
  color: #C9C9C9 !important;
  line-height: 1.4em; }
  .post .title {
    color: dodgerblue; }
    .post .title small {
      font-size: 0.5em;
      color: lightgray; }
  .post .intro {
    color: lightgray;
    font-size: 1.4em;
    margin: 0; }

#en {
  position: fixed;
  right: -200px;
  bottom: 70px;
  background-color: #171717;
  border-top: 2px solid dodgerblue;
  border-bottom: 2px solid dodgerblue;
  border-left: 2px solid dodgerblue;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px 20px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  z-index: 99; }
  #en:hover {
    padding-right: 40px; }

#lv {
  position: fixed;
  right: -200px;
  bottom: 120px;
  background-color: #171717;
  border-top: 2px solid dodgerblue;
  border-bottom: 2px solid dodgerblue;
  border-left: 2px solid dodgerblue;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px 20px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  z-index: 99; }
  #lv:hover {
    padding-right: 40px; }

.inactive {
  opacity: 0.4; }

@media screen and (max-width: 768px) {
  .container {
    margin-top: 100px; }

  .game-cover {
    width: auto;
    height: 100%; }

  .works {
    margin-top: 50px; }

  .skills-title {
    text-align: center; }

  .websites, .games, .apps {
    display: block;
    height: auto; }
    .websites .skills-item, .games .skills-item, .apps .skills-item {
      display: block;
      margin-top: 25px; }
      .websites .skills-item img, .games .skills-item img, .apps .skills-item img {
        display: block;
        width: 100%;
        height: auto; } }
@media screen and (max-width: 550px) {
  .navbar ul .right {
    visibility: hidden;
    display: none; }

  .home-head h1 {
    font-size: 4em; }

  .hidemob {
    margin: 0;
    padding: 0;
    width: 100%; }

  .post {
    font-size: 1.0em;
    margin: 20px 0px;
    border-radius: 0px; }
    .post .title small {
      font-size: 0.5em; }
    .post .intro {
      font-size: 1.2em; }

  .postmob {
    margin: 0px; } }
