.table{
    display: table;
}
.cell{
    display: table-cell;
    vertical-align: middle;
}
.wide{
    width: 100%;
}
.tall{
    height: 100vh;
}

.wide-p{
    width: 100%;
}
.tall-p{
    height: 100%;
}

.container{
    width: 80%;
    height:100%;
    margin: 0% 10%;
    padding: 0% 0%;
}

.flex{
    display: flex;
}