$dark: #555555;
$gray: #E8E8E8;


@import url('https://fonts.googleapis.com/css?family=Bellefair|Quicksand:400,700');

@import 'loader';
@import 'helpers';

$font1: "Bellefair";
$font2: "Quicksand";

body{
    background-color: $gray;
    font-family: $font2;
}

.page-wrapper{
    display: none;
}

.home{
    background-image: url("../img/bg-min.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    h1{
        font-family: $font1;
        font-weight: normal;
        text-align: center;
        font-size: 80px;
        color: $dark;
        padding-top: 15vh;
        margin-top: 0px;

        small{
            display: block;
            font-size: 0.3em;
            font-family: $font1;
            color: lighten($dark,10);
        }
    }
}

.about{
    background-color: darken($gray,4);
    display: flex;

    .left-side{
        width: 60vw;
        height:100vh;
        display: inline-block;
        padding: 0px 5%;

        h2{
            color: $dark;
            font-family: $font1;
            font-size: 50px;
            font-weight: normal;
            margin: 0px;
            padding: 0px;
        }
        p{
            color: $dark;
            font-family: $font2;
            font-size: 28px;
        }
    }
    .right-side{
        width: 40vw;
        height:100vh;
        display: inline-block;
        overflow: hidden;

        background-image: url('../img/pic.jpg');
        background-position: center;
        background-size: cover;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
    }
}

.skills{
    margin:100px 0px;

    h2{
        text-align: center;
        color: $dark;
        font-family: $font1;
        font-size: 50px;
        font-weight: normal;

        small{
            text-align: center;
            display: block;
            font-size: 0.4em;
            color: lighten($dark,5);
        }
    }

    .skill-item{
        width: 25%;
        padding-bottom: 25%;
        position: relative;
        float: left;
        overflow: hidden;

        .skill-img{
            position: absolute;
            width: 80%;
            height: 80%;
            margin: 10%;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-bottom: 12px solid lightgray;

            img{
                width: 60%;
                height: 60%;
                margin: 20%;
            }
        }

        .s10{
            border-color: #75d35f;
        }
        .s8{
            border-color: #bedf51;
        }
        .s7{
            border-color: #d8df51;
        }
        .s5{
            border-color: #dfaa51;
        }
        .s3{
            border-color: #df5751;
        }
    }
}

.skills::after{
    content: "";
    display: block;
    clear: both;
}

.projects{
    h2{
        text-align: center;
        color: $dark;
        font-family: $font1;
        font-size: 50px;
        font-weight: normal;

        small{
            text-align: center;
            display: block;
            font-size: 0.4em;
            color: lighten($dark,5);
        }
    }

    h3{
        color: $dark;
        font-size: 28px;
        font-weight: normal;
        text-align: center;
    }

    .project-item{
        width: 90%;
        background-color: white;
        height:70px;
        border-radius: 4px;
        position: relative;
        box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
        margin: 10px auto;

        h4{
            color: $dark;
            font-size: 28px;
            line-height: 70px;
            margin: 0px;
            padding: 0px 20px;
            font-weight: normal;
            small{
                color: lightslategray;
            }
        }

        a{
            height: 100%;
            width: 70px;
            transition-duration: 0.4s;
            border-radius: 0px 4px 4px 0px;
            p{
                text-align: center;
                color:white;
                margin: 0px;
                padding: 0px;
                height: 100%;
                i{
                    line-height: 70px;
                    font-size: 20px;
                }
            }
            background-color: lightslategray;
            position: absolute;
            right: 0px;
            top: 0px;

            &:hover{
                background-color: lighten(lightslategray,8);
                box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .games{
        width: 50%;
        float: left;
    }
    .websites{
        width: 50%;
        float:left;
    }
}

.contacts{
    position: relative;
    margin-top: 40vh;
    h2{
        text-align: center;
        color: $dark;
        font-family: $font1;
        font-size: 50px;
        font-weight: normal;
    }

    .contacts-card{
        width: 50vw;
        margin: 0px 25vw;
        margin-top:20vh;
        background-color: white;
        border-radius: 8px 8px 0px 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        position: relative;

        .email{
            text-align: center;
            color: $dark;
            font-family: $font2;
            font-size: 30px;
            padding: 10vh 0px;
        }
        .links{
            width: 100%;
            height: 50px;
            display: flex;

            a{
                flex-grow: 1;
            }

            a:first-child{
                border-radius: 8px 0px 0px 0px;
            }
            a:last-child{
                border-radius: 0px 8px 0px 0px;
            }

            .link_gh, .link_fb, .link_go, .link_li, .link_yo{
                text-align: center;
                color: white;
                transition-duration: 0.5s;
                i{
                    line-height: 50px;
                }
            }

            .link_gh{
                background-color: #333;
                &:hover{
                    background-color: lighten(#333,16);
                }
            }
            .link_fb{
                background-color: #445E96;
                &:hover{
                    background-color: lighten(#445E96,16);
                }
            }
            .link_go{
                background-color: #DB6253;
                &:hover{
                    background-color: lighten(#DB6253,16);
                }
            }
            .link_li{
                background-color: #3286B3;
                &:hover{
                    background-color: lighten(#3286B3,16);
                }
            }
            .link_yo{
                background-color: #CC4645;
                &:hover{
                    background-color: lighten(#CC4645,16);
                }
            }
        }
    }
}
.mini-pic{
    display: none;
}

.lang-box{
    position: absolute;
    top: 15px;
    left: 10px;

    span{
        font-weight: bold;
        color: $dark;
    }
    p{
        display: inline-block;
        margin: 0px;
        padding: 0px 5px;
        font-weight: bold;
        color: darken($gray,10);
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover{
            color:$dark;
        }
    }
    .current,.current:hover{
        color: $dark;
        cursor: default;
    }
}

//Music player
.player-box{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.bar-c {
  overflow: hidden;
  height: 30px;
  width: 40px;
  margin: 0 auto;
  position: relative;
  cursor:pointer;
}
.bar {
  height: 1px;
  width: 3px;
  display: inline-block;
  background-color: $dark;
  bottom: 0;
  position: absolute;
  
  &.noAnim {
    -webkit-animation: none;
    -webkit-animation-name: none;
  }
  
  &#bar-1 { 
    left: 0; 
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
  }
  &#bar-2 { 
    left: 6px; 
    -webkit-animation-name: danceHeight2; 
    -webkit-animation-delay: 300ms;
  }
  &#bar-3 { 
    left: 12px;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
  }
  &#bar-4 { 
    left: 18px;
    -webkit-animation-name: danceHeight4;
    -webkit-animation-delay: 900ms;
  }
  &#bar-5 { 
    left: 24px;
    -webkit-animation-name: danceHeight5;
    -webkit-animation-delay: 1200ms;
  }
  &#bar-6 { 
    left: 30px;
    -webkit-animation-name: danceHeight6;
    -webkit-animation-delay: 1500ms;
  }
  
  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: running;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes danceHeight1 {
  from { height: 1px; }
  to { height: 22px; }
}
@-webkit-keyframes danceHeight2 {
  from { height: 1px; }
  to { height: 15px; }
}
@-webkit-keyframes danceHeight3 {
  from { height: 1px; }
  to { height: 30px; }
}
@-webkit-keyframes danceHeight4 {
  from { height: 1px; }
  to { height: 20px; }
}
@-webkit-keyframes danceHeight5 {
  from { height: 1px; }
  to { height: 15px; }
}
@-webkit-keyframes danceHeight6 {
  from { height: 1px; }
  to { height: 15px; }
}


@media (max-width: 768px){
    .home{
        background-position-y: top;

        h1{
            font-size: 56px;
        }
    }

    .about{
        margin-bottom: 200px;

        .left-side{
            position: relative;
            width: 100vw !important;
            h2{
                margin-top:20px;
            }
            p{
                font-size: 24px;
            }
            .mini-pic{
                width: 180px;
                height: auto;
                margin:auto;
                display: block;
                border: 4px solid white;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                transform: rotateZ(2deg);
            }
        }
        .right-side{
            display: none;
        }
    }

    .skills{
        height:auto;
        .container{
            width: 80%;
            margin: 0% 10%;
            height:auto;
        }
        
        .skill-item{
            width: 50%;
            padding-bottom: 50%;
        }
    }

    .projects{
        margin-top: 100px;
        height: auto;
        h2{
            margin: 0px;
        }

        .container{
            width: 80%;
            margin: 0% 10%;
        }

        h3{
            font-size: 18px;
            margin-top: 50px;
        }

        .project-item{
            height:60px;

            h4{
                font-size: 20px;
                line-height: 60px;
            }

            a{
                width: 60px;

                p{
                    i{
                        line-height: 60px;
                    }
                }
            }
        }

        .games{
            width: 100%;
        }
        .websites{
            width: 100%;
            margin-bottom: 50px;
        }
    }
    .projects::after{
        content: "";
        display: block;
        clear: both;
    }

    .contacts{
        margin-top: 20vh;
        h2{
            font-size: 32px;
        }

        .contacts-card{
            width: 100vw;
            margin: 0px;
            margin-top:20vh;
            border-radius: 0px;

            .email{
                font-size: 20px;
                font-weight: bold;
            }

            a:first-child{
                border-radius: 0px !important;
            }
            a:last-child{
                border-radius: 0px !important;
            }
        }
    }
}

@media (max-width: 480px){

    .about{
        .left-side{
            h2{
                margin-top: 40px;
            }
            .mini-pic{
                margin-top: 60px;
                margin-bottom: 30px;
            }
        }
    }
    .projects{

        .container{
            width: 100% !important;
            margin: 0% 0% !important;
        }
    }

    .skills{
        .container{
            width: 100% !important;
            margin: 0% 0% !important;
        }
    }
}
